* {
    margin: 0px;
    padding: 0px;
}

.background {
    width: 100vw;
    height: 100vh;
}

.background img {
    width: 100%;
    height: 100%;
}

.button {
    position: absolute;
    bottom: 25vh;
    left: 50%;
    height: 15%;
    width: 20%;
}

.button img {
    height: 100%;
    width: 100%;
}